<web-app>
	<!-- ServletContext is work outside that the reason servletContext is useful in one web application-->
<servlet>
	<servlet-name>connect</servlet-name>
	<servlet-class>com.sk.servlet.ServletJConnection</servlet-class>	
</servlet>
<servlet-mapping>
	<servlet-name>connect</servlet-name>
	<url-pattern>/testurl</url-pattern>
</servlet-mapping>
<welcome-file-list>
	<welcome-file>page.html</welcome-file>
</welcome-file-list>

</web-app>